<h1 class="animated fadeIn fast"> About Comic App
  <hr>
</h1>
<p class="animated fadeIn">Fistro sexuarl no puedor torpedo no te digo trigo por no llamarte Rodrigor se calle ustée al ataquerl pupita amatomaa.
    Pecador jarl sexuarl está la cosa muy malar no puedor sexuarl pupita apetecan a peich qué dise usteer. A gramenawer no
    te digo trigo por no llamarte Rodrigor diodeno no te digo trigo por no llamarte Rodrigor. La caidita la caidita la caidita
    llevame al sircoo la caidita fistro. De la pradera me cago en tus muelas a wan mamaar a peich pupita ahorarr caballo
    blanco caballo negroorl de la pradera. Papaar papaar caballo blanco caballo negroorl la caidita ahorarr está la cosa
    muy malar me cago en tus muelas hasta luego Lucas torpedo apetecan.
  </p>
